.card_shop{
    box-shadow: 2px 2px 2px .2px rgb(219, 214, 214);
    margin:30px;
    width: 90%;
    height: 300px;
    cursor: pointer;
    margin-bottom: 0px;

}

.card_shop img{
    width: 14rem;
    height: 120px;
    border-radius: 0px;
}
.box_shop_list{
    margin-left: 37px;
    width: 100%;
    
}

.card-title{
    color:blue;
}

.card-body p{
     margin-top: -10px;
}
.card-text{
    font-size: small;
}
.empty_Selected_Product{
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 8%;
}