@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');

.SideBar{
    position: absolute;
    top: -30px;
    left: 2px;
    width: 220px;
    height:100vh;
    background-color: rgb(250, 244, 244);
    z-index: 1000;
    animation-name: example;
    animation-duration: .5s;
}
@keyframes example {
    from {width: 0px;}
    to {width: 220px;}
}

.btn1{
  float: right;
  margin-right: 10px;
  border: none;
  font-size: 23px;
  width: 30px;
  height:30px;
  background-color: transparent;
  cursor: pointer;
 
}
.btn1:focus {
    outline: none;
    
}

.SideBar hr{
    margin-top: 42px;
}
.header{
  padding-left: 37px;
  font-weight: bold;
  color: gray;
  animation-name: example1;
  animation-duration: .5s;
  visibility: visible;
  
}
.Shop_List li {
    list-style-type: none;
    margin: 20px 0px 20px 0px;
    padding: 2px 0px 2px 0px;
}

  
.Shop_List li a{
    
    color: gray;
    display: block;
    padding: 4px 5px 4px 10px;
    
    
   
}
.Shop_List li a:hover{
    color:black;
    border-left: 6px solid rgb(87, 90, 238);
    background-color: rgba(245, 237, 237, 0.746);
    width: 100%;
    text-decoration-line: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

/* Brand Products */
.Brandbtn{
    background:transparent;
    border: none;
    cursor: pointer;
    
}
.Brandbtn:focus {
    outline: none;
}
.Brands_product{
    position: absolute;
    top: 20px;
    right: 25px;
    z-index:1000;
    background-color: white;
    width: 350px;
    height: 190px;
    box-shadow: 2px 2px 7px 1px gray, -2px -2px 7px 1px gray;
}

.Brand_Name li{
    list-style-type: none;
    padding-bottom:8px ;
    
}
.Brand_Name li a{
    color: gray;
}
.Brand_Name li a:hover{
    color: black;
    text-decoration-line: none;
}
.Brand_Name_left{
    margin-left: 10px;
}
.Brand_Name_right{
    margin-left: 10px;
}





